html, body{
  height:100%
}

a{
  text-decoration: none;
}
.xx_small-font{
  font-size:0.70rem
}
.small-font{
  font-size: 090rem;
}
/*header*/
header {
  padding: 1.5rem;
  background-color: #404040;
  display: flex;
  justify-content: space-between;
}

header a{
  color: white;
  font-size: 1.3rem;
}
header a:hover{
  color:#f08804
}

/*Products*/
section.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.product {
  max-width: 250px;
  /* border: 1px solid #141414; */
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}
.product img {
  width: 100%;
}
.product:hover{
  box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.5);
}
.product_info {
  display: flex;
  flex-direction: column;
  padding: 0em 1em 1em
}
.product_info a{
  color:#000
}
/* cart drawer */
.side-drawer { 
  height: 100%;
  background: white;
  position: fixed;
  top: 10%;
  right: 0;
  width: 45%;
  z-index: 200;
  box-shadow: 1px 0px 7px rgba(0,0,0,0.5); 
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
}
.side-drawer.open {
  transform: translateX(0);
  overflow-y: scroll;
}

.side-drawer.close{
  display: none;
}
/*theme toggle btn*/

.theme_cart{
  display: flex;
  align-items: center;
  gap: 1rem;
}

input[type="checkbox"]::before{
  content: " ";
  position: absolute;
  bottom: 2px;
  left:1px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition: .3s;
  box-shadow: 0 5px 10px #9996;
  background-color: #fff;
}
input[type="checkbox"]:checked::before {
  transform: translateX(100%);
  background: #fff;
}


input[type="checkbox"]{
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  position: relative;
  width: 2.4rem;
  height:1.4rem;
  border-radius: 25px;
  background-color: #686259;
  border: none;
}
  /*Ratings*/
  .rating_review{
    display: flex;
    gap:.5em;
  }
  .ratings i{
    color:#e3cc4d
  }

  /*Add to cart btn*/
  .btn-primary{
    background-color:#f0c040;
    border: none;
    color: #000;
  }
  .btn-primary:hover{
    background-color: #f08804;
    border: none;
    transition: all 1s;
  }
  .btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    
    background-color: #f08804;
    border-color: none;
}
.img-large{
  max-width: 100%;
}
.alert-danger{

  background: unset
}
/*cart*/
.cartItem a{
  position: relative;
}
.badge.rounded-pill{
  position: absolute;
  padding-block: 0.25em;
    padding-inline: 0.35em;
    font-size: 13px;
}
.list-group-item,.list-group-item:last-child{
  border: 0;
}
.list-group-flush{
 border: 1px solid lightgray;
  border-radius: 7px;
}
.img-thumbnail{
  width:80px
}
.padding_0{
  padding: 0;
}
button[type='button'] {
  font-size: .8rem;
  font-family: cursive;
}
/*Theme*/
.dark_theme {
  background-color: #333;
  color: #fff;
  }
  .light_theme {
  background-color: #fff;
  color: #333;
  }