html, body{
  height:100%
}

a{
  text-decoration: none;
}
.xx_small-font{
  font-size:0.70rem
}
.small-font{
  font-size: 090rem;
}
/*header*/

.navbar-nav .nav-link{
  color: white!important;
  font-size: 1.3rem;
}
.navbar-nav .nav-link:hover{
  color: #f08804!important;
}

/*Products*/
section.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.product {
  max-width: 250px;
  /* border: 1px solid #141414; */
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}
.product img {
  width: 100%;
}
.product:hover{
  box-shadow: 0px 4px 4px 4px rgba(0,0,0,0.5);
}
.product_info {
  display: flex;
  flex-direction: column;
  padding: 0em 1em 1em
}
.product_info a{
  color: inherit
}
.Backto_arrow{
  color:inherit
}
.Backto_arrow:hover{
  color: #f08804;
}
/*theme toggle btn*/

.theme_cart{
  display: flex;
  align-items: center;
  gap: 1rem;
}

input[type="checkbox"]::before{
  content: " ";
  position: absolute;
  bottom: 2px;
  left:1px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  transition: .3s;
  box-shadow: 0 5px 10px #9996;
  background-color: #fff;
}
input[type="checkbox"]:checked::before {
  transform: translateX(100%);
  background: #fff;
}


input[type="checkbox"]{
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  position: relative;
  width: 2.4rem;
  height:1.4rem;
  border-radius: 25px;
  background-color: #686259;
  border: none;
}
  /*Ratings*/
  .rating_review{
    display: flex;
    gap:.5em;
    align-items: baseline;
  }
  .ratings i{
    color:#e3cc4d
  }

.img-large{
  max-width: 100%;
}
.alert-danger{

  background: unset
}

.list-group-item,.list-group-item:last-child{
  border: 0;
}
.list-group-flush{
 border: 1px solid lightgray;
  border-radius: 7px;
}
.img-thumbnail{
  width:80px
}
.padding_0{
  padding: 0;
}
button[type='button'] {
  font-size: .8rem;
  font-family: cursive;
}
.toogle_btn{
  outline: 0;
    background: white;
    box-shadow: none;
}
/*Theme*/
.dark_theme {
  background-color: #333;
  color: #fff;
  }
  .light_theme {
  background-color: #f0f3f6;
  color: #333;
  }

  @media screen and (max-width : 45em){
    .navbar-collapse.collapse.show{
      display: flex;
    }
  }